#!/usr/bin/env bash

echo RUNNING $0 $@

set -e

# Assuming we're in top level yannt folder.

PYTHON_AUTOINSTALL_PATH=${PYTHON_AUTOINSTALL_PATH:-"{{python_autoinstall_path}}"}
ENV_NAME=${ENV_NAME:-"{{env_name}}"}
PY_VER=${PY_VER:-"{{py_ver}}"}
PYTHON_PKG_PATH=${PYTHON_PKG_PATH:-"{{python_pkg_path}}"}
PYTHON_VENV_PREFIX=${PYTHON_VENV_PREFIX:-"{{python_venv_prefix}}"}
PKG_SKIP_LIST=${PKG_SKIP_LIST:-"{{pkg_skip_list}}"}

PY_CONSTRAINTS=${PY_CONSTRAINTS:-"{{py_constraints}}"}
if [ -n "${PY_CONSTRAINTS}" ]; then
    PY_CONSTRAINTS_ARGS="-c ${PY_CONSTRAINTS}"
else
    PY_CONSTRAINTS_ARGS=
fi

PY_REQS=${PY_REQS:-"{{py_reqs}}"}
if [ -n "${PY_REQS}" ]; then
    PY_REQS_ARGS="-r ${PY_REQS}"
else
    PY_REQS_ARGS=
fi

# TODO: Export these?
PS1_TAG=${PS1_TAG:-"({{ps1_tag}}) "}
PS1="${PS1_TAG}${PS1:-\$ }"

# Assuming we've already collected.
PIP_INST_ARGS=${PIP_INST_ARGS:-"--no-index -f ${PYTHON_PKG_PATH}"}
PYTHON=${PYTHON:-"{{python}}"}

VENV_PYTHON=${VENV_PYTHON:-"{{venv_python}}"}

BUILDER_PATH=${BUILDER_PATH:-"{{builder_path}}"}

# ----- End Of Config -----

# Ensure virtualenv is available.
echo INSTALL VIRTUALENV: ${PYTHON} -m pip install --upgrade ${PIP_INST_ARGS} virtualenv
${PYTHON} -m pip install --upgrade ${PIP_INST_ARGS} virtualenv

mkdir -p ${PYTHON_VENV_PREFIX}
if [ ! -e "${PYTHON_VENV_PREFIX}/${ENV_NAME}" ]; then
  # Note: The following line is the only place we enforce python version for venv.
  
  echo CREATE VENV: ${PYTHON} -m virtualenv ${PYTHON_VENV_PREFIX}/${ENV_NAME}
  ${PYTHON} -m virtualenv ${PYTHON_VENV_PREFIX}/${ENV_NAME}
  [ $? -ne 0 ] && { echo "Failed to create venv"; exit 1; }

  echo "--------------------- Setting Up Base Python Requirements ---------------------"
  ${VENV_PYTHON} -m pip install --upgrade \
    ${PIP_INST_ARGS} ${PY_REQS_ARGS} ${PY_CONSTRAINTS_ARGS}
fi

# We don't activate to maintain cross platform patterns.
#source ./cache/venv/${ENV_NAME}/bin/activate


# TODO: These dependencies should be managed by pyproject.toml.
echo Checking dependencies.

# pip install for each enabled
mkdir -p ${PYTHON_AUTOINSTALL_PATH}
for pkgpath in ${PYTHON_AUTOINSTALL_PATH}/*; do

  echo pkgpath = $pkgpath

  skip=0
  for blocked in ${PKG_SKIP_LIST}; do
    #echo blocked = ${PYTHON_AUTOINSTALL_PATH}/$blocked
    if [ "$pkgpath" = "${PYTHON_AUTOINSTALL_PATH}/$blocked" ]; then
      skip=1
      break
    fi
  done
  if [ "$skip" = "1" ]; then
    echo "Skipping $pkgpath."
    continue
  fi

  if [ -d "$pkgpath" ]; then
    echo Installing: $pkgpath
    ${VENV_PYTHON} -m pip show $(basename "$pkgpath") &>/dev/null \
    || ${VENV_PYTHON} -m pip install -U ${PIP_INST_ARGS} ${PY_CONSTRAINTS_ARGS} -e $pkgpath
  fi
done

echo VIRTUALENV BUILD COMPLETE

if [ -z "$NO_SHELL" ]; then
  echo "This is where we can do yannt things."
  # If the user did not request NO_SHELL, start a shell.
  #${PROJ_PATH}/${BUILDER_PATH}/start-venv.sh "$@"
fi


