#!/bin/sh

# !! Note: This script is intended to be run from inside a docker container.

# TODO: Things not windows friendly:
# TODO: - "./cache/pip_pkgs/${PY_VER}"
# TODO: - "./configs/auto_install"
# TODO: - "./configs/auto_install/$ext"

PY_VER=${PY_VER:-"{{py_ver}}"}

# Assuming we're in the top level yannt folder regardless of CRI or host.

PY_CONSTRAINTS=${PY_CONSTRAINTS:-"{{py_constraints}}"}
if [ -n "${PY_CONSTRAINTS}" ]; then
    PY_CONSTRAINTS_ARGS="-c ${PY_CONSTRAINTS}"
else
    PY_CONSTRAINTS_ARGS=
fi

PY_REQS=${PY_REQS:-"{{py_reqs}}"}
if [ -n "${PY_REQS}" ]; then
    PY_REQS_ARGS="-r ${PY_REQS}"
else
    PY_REQS_ARGS=
fi

PIP_IDX_ARGS="{{pip_idx_args}}"
PIP_DL_ARGS=${PIP_DL_ARGS:-"${PIP_IDX_ARGS} -d ./cache/pip_pkgs/${PY_VER}"}
PYTHON=${PYTHON:-"{{python}}"}
PIP=${PIP:-"${PYTHON} -m pip"}

mkdir -p ./cache/pip_pkgs/${PY_VER}

echo PIP_DL_ARGS: ${PIP_DL_ARGS}
echo PIP DOWNLOAD: ${PIP} download ${PIP_DL_ARGS} ${PY_REQS_ARGS} ${PY_CONSTRAINTS_ARGS}
${PIP} download ${PIP_DL_ARGS} ${PY_REQS_ARGS} ${PY_CONSTRAINTS_ARGS}

PKG_SKIP_LIST=${PKG_SKIP_LIST:-"{{pkg_skip_list}}"}

# Do enabled python packages
for ext in `ls -1 ./configs/auto_install`; do

    skip=0
    for blocked in $PKG_SKIP_LIST; do
        if [ "$ext" = "$blocked" ]; then
            skip=1
            break
        fi
    done
    if [ "$skip" = "1" ]; then
        echo "Skipping $ext."
        continue
    fi

    ${PIP} download ${PIP_DL_ARGS} ${PY_CONSTRAINTS_ARGS} ./configs/auto_install/$ext
done

