#!/usr/bin/env bash

#sudo apt install python3.13-venv
#sudo apt install python3-argcomplete
#sudo apt install python3-pip

# CONFIG_NAME from env.
# CONFIG_PATH from env.
# BUILD_MODE from env.

CRI_PROJ_PATH="{{cri_proj_path}}"
ML_VENV_NAME="{{env_name}}"
PROJ_PATH="{{proj_path}}"
CRI_HOME="{{cri_home}}"
CRI_RUN_ARGS="{{cri_run_args}}"

PY_VER="{{py_ver}}"
PY_REQS="{{py_reqs}}"
PYTHON="{{python}}"
VENV_PYTHON="{{venv_python}}"
PKG_SKIP_LIST="{{pkg_skip_list}}"
PY_CONSTRAINTS="{{py_constraints}}"


set -e

if [ -n "${BUILD_MODE}" ]; then
  echo "Building the venv."
  CONTAINER_CMD=${CRI_PROJ_PATH}/{{layer_path}}/build-venv.sh $@
else
  echo "Starting the venv."
  if [ ! -e "${PROJ_PATH}/cache/venv/${ML_VENV_NAME}" ]; then
    # If we're running an environment that doesn't exist, stop.
    echo "You are attempting to run an environment that doesn't exist. (${ML_VENV_NAME})"
    echo "Run: ./scripts/init-dev.sh ${CONFIG_NAME}"
    exit 1
  fi
  CONTAINER_CMD="${CRI_PROJ_PATH}/{{layer_path}}/start-venv.sh $@"
fi


# Run the environment
mkdir -p ${PROJ_PATH}/${CRI_HOME}

# -e CRI_PROJ_PATH="${CRI_PROJ_PATH}" \
#     -e PY_VER="${PY_VER}" \
#     -e PY_REQS="${PY_REQS}" \
#     -e PYTHON="${PYTHON}" \
#     -e VENV_PYTHON="${VENV_PYTHON:-./cache/venv/${ML_VENV_NAME}/bin/python}" \
#     -e PKG_SKIP_LIST="${PKG_SKIP_LIST}" \
#     -e PY_CONSTRAINTS="${PY_CONSTRAINTS}" \
# -e ML_VENV_NAME="${ML_VENV_NAME}" \

${CRI_BIN} run -ti --rm \
    -u $(id -u):$(id -g) \
    -v ${PROJ_PATH}:${CRI_PROJ_PATH} \
    -w ${CRI_PROJ_PATH} \
    -e NO_SHELL="$NO_SHELL" \
    -e HOME=${CRI_PROJ_PATH}/${CRI_HOME} \
    -e USER="user" \
    ${CRI_RUN_ARGS} \
    localhost/${ML_VENV_NAME} \
    ${CONTAINER_CMD}