**.whl
**.tar.gz
**.egg-info
**/__pycache__/
**/dist/
**/build/
**/VERSION

upstream/
cache/
outputs/
models/

configs/auto_install
packages/thirdparty_pparse
packages/thirdparty_pparse_rust
*.xml
docs/ignored
tests/labs/ignored

Miniconda3-latest-Linux-x86_64.sh
typst