#!/usr/bin/env bash

{{YOU_CAN_EDIT_THIS_FILE}}

# Note: Assuming podman is always run from linux.

echo RUNNING $0

ENV_NAME=${ENV_NAME:-"{{env_name}}"}
PROJ_PATH=${PROJ_PATH:-"{{proj_path}}"}
CONFIG_NAME=${CONFIG_NAME:-"{{config_name}}"}
CONFIG_PATH=${CONFIG_PATH:-"{{config_path}}"}

CRI_ROOT=${CRI_ROOT:-"{{cri_root}}"}
CRI_BIN=${CRI_BIN:-"{{cri_bin}}"}
CRI_RUN=${CRI_RUN:-"{{cri_run}}"}
CRI_HOME=${CRI_HOME:-"{{cri_home}}"}
CRI_PROJ_PATH=${CRI_PROJ_PATH:-"{{cri_proj_path}}"}
CRI_RUN_ARGS=${CRI_RUN_ARGS:-"{{cri_run_args}}"}

APT_PKGS=${APT_PKGS:-"{{apt_packages}}"}

BUILDER_PATH=${BUILDER_PATH:-"{{builder_path}}"}
NEXT_INIT_TARGET=${NEXT_INIT_TARGET:-"{{next_init_target}}"}

# ----- End Of Config -----


mkdir -p ${CRI_ROOT}

# ------------- Podman Hackery ------------

PODMAN() {
    ${CRI_BIN} "$@"
    if [ $? -ne 0 ]; then
        echo "Failed to run: $@"
        echo "Cancelling."
        exit 1
    fi
}

RUN() {
    ${CRI_RUN} "$@"
    if [ $? -ne 0 ]; then
        echo "Failed to run: $@"
        echo "Cancelling."
        exit 1
    fi
}

BUILD_CONTAINER() {
    # Initial stop and rm allowed to fail.
    ${CRI_BIN} stop $ENV_NAME
    ${CRI_BIN} rm $ENV_NAME

    echo "Creating container ${ENV_NAME}"
    CONTAINER=$(\
    ${CRI_BIN} create --name $ENV_NAME \
        -v ${PROJ_PATH}:${CRI_PROJ_PATH} -w ${CRI_PROJ_PATH} \
        -e HOME=${CRI_PROJ_PATH}/${CRI_HOME} \
        ${CRI_RUN_ARGS} \
        docker.io/library/python:${PY_VER}-slim \
        tail -f /dev/null
    )
    echo "Created container ${ENV_NAME}@${CONTAINER}"

    PODMAN start $CONTAINER
    echo "Started ${ENV_NAME}@${CONTAINER}"

    RUN chown root /var/lib/apt/lists/partial
    RUN chown root /var/lib/apt/lists/auxfiles
    RUN chown root /var/cache/apt/archives/partial
    RUN chown root /var/log/apt

    {{extra_preapt_commands}}

    RUN mkdir -p ${CRI_PROJ_PATH}/${CRI_HOME}/.cache/apt/partial
    RUN echo APT_PATH: ${CRI_PROJ_PATH}/${CRI_HOME}/.cache/apt/partial
    RUN apt-get -o Dir::Cache::archives=${CRI_PROJ_PATH}/${CRI_HOME}/.cache/apt -o APT::Sandbox::User=root update
    # Note: `openssh-client`` post-install script fails on NFS: Ignoring errors for now.
    ${CRI_RUN} apt-get -o Dir::Cache::archives=${CRI_PROJ_PATH}/${CRI_HOME}/.cache/apt -o APT::Sandbox::User=root install -y vim unzip git wget curl ${APT_PKGS}
    RUN useradd -m user

    {{extra_podman_run_commands}}

    echo "Saving container as localhost/${ENV_NAME}"
    PODMAN commit ${ENV_NAME} localhost/${ENV_NAME}
    echo "Committed \(i.e. saved\) ${ENV_NAME}@${CONTAINER} image."

    PODMAN stop ${ENV_NAME}
    echo "Stopped ${ENV_NAME}@${CONTAINER}"
}

# Check if container already exists and ensure user is ok with restarting.
RESULT=$(${CRI_BIN} ps -a --filter "name=${ENV_NAME}" --format "{% raw %}{{.Names}}{% endraw %} 2>/dev/null")
if [ -n "${RESULT}" ]; then
    echo "Container ${ENV_NAME} exists."
    echo
    echo -n "[R]ebuild container, [s]kip build, or [a]bort? (r/s/a) "
    read answer

    case "$answer" in
        [Rr]*)
            BUILD_CONTAINER
            ;;
        [Ss]*)
            echo "Using the existing container image."
            ;;
        *)
            echo "Aborting the process."
            exit 1
            ;;
    esac
else
    echo "Existing container not found. Building now."
    BUILD_CONTAINER
fi

# Continue within the container.

mkdir -p ${PROJ_PATH}/${CRI_HOME}
[ -z "${NEXT_INIT_TARGET}" ] || \
  ${CRI_BIN} run -ti --rm \
    -v ${PROJ_PATH}:${CRI_PROJ_PATH} -w ${CRI_PROJ_PATH} \
    -e USER="user" -e HOME=${CRI_PROJ_PATH}/${CRI_HOME} \
    -u $(id -u):$(id -g) ${CRI_RUN_ARGS} \
    localhost/${ENV_NAME} \
    ${CRI_PROJ_PATH}/${NEXT_INIT_TARGET}

