#!/usr/bin/env bash

{{YOU_CAN_EDIT_THIS_FILE}}

# --- init-python.sh.j2 ---
# Note: Designed to work with both linux and wine.

# echo RUNNING $0 $@

PROJ_PATH="{{proj_path}}"
BUILDER_PATH=${BUILDER_PATH:-"{{builder_path}}"}

# ----- Fetch and cache python deps -----
${PROJ_PATH}/${BUILDER_PATH}/download-pkgs.sh

# ----- Build the python environment -----
${PROJ_PATH}/${BUILDER_PATH}/install-pkgs.sh
