#!/usr/bin/env bash

{{YOU_CAN_EDIT_THIS_FILE}}

# --- build-venv.sh.j2 ---
# Note: Designed to work with both linux and wine.

echo RUNNING $0 $@

set -e

# Assuming we're in top level yannt folder.

PROJ_PATH=${PROJ_PATH:-"{{proj_path}}"}
PYTHON_AUTOINSTALL_PATH=${PYTHON_AUTOINSTALL_PATH:-"{{python_autoinstall_path}}"}
ENV_NAME=${ENV_NAME:-"{{env_name}}"}
PY_VER=${PY_VER:-"{{py_ver}}"}
PYTHON_PKG_PATH=${PYTHON_PKG_PATH:-"{{python_pkg_path}}"}
PYTHON_VENV_PREFIX=${PYTHON_VENV_PREFIX:-"{{python_venv_prefix}}"}
PKG_SKIP_LIST=${PKG_SKIP_LIST:-"{{pkg_skip_list}}"}
PY_CONSTRAINTS=${PY_CONSTRAINTS:-"{{py_constraints}}"}
PY_REQS=${PY_REQS:-"{{py_reqs}}"}
PYTHON=${PYTHON:-"{{python}}"}
BUILDER_PATH=${BUILDER_PATH:-"{{builder_path}}"}

# ----- End Of Config -----

PY_CONSTRAINTS_ARGS=$([ -n "${PY_CONSTRAINTS}" ] && echo "-c ${PY_CONSTRAINTS}")
PY_REQS_ARGS=$([ -n "${PY_REQS}" ] && echo "-r ${PY_REQS}")

# Assuming we've already collected.
PIP_INST_ARGS=${PIP_INST_ARGS:-"--no-index -f ${PYTHON_PKG_PATH}"}

echo "--------------------- Setting Up Base Python Requirements ---------------------"
${PYTHON} -m pip install --upgrade ${PIP_INST_ARGS} ${PY_REQS_ARGS} ${PY_CONSTRAINTS_ARGS}

# TODO: These dependencies should be managed by pyproject.toml.
echo Checking dependencies.

# pip install for each enabled
mkdir -p ${PYTHON_AUTOINSTALL_PATH}
for pkgpath in ${PYTHON_AUTOINSTALL_PATH}/*; do

  echo pkgpath = $pkgpath

  skip=0
  for blocked in ${PKG_SKIP_LIST}; do
    #echo blocked = ${PYTHON_AUTOINSTALL_PATH}/$blocked
    if [ "$pkgpath" = "${PYTHON_AUTOINSTALL_PATH}/$blocked" ]; then
      skip=1
      break
    fi
  done
  if [ "$skip" = "1" ]; then
    echo "Skipping $pkgpath."
    continue
  fi

  if [ -d "$pkgpath" ]; then
    echo Installing: $pkgpath
    ${PYTHON} -m pip show $(basename "$pkgpath") &>/dev/null \
    || ${PYTHON} -m pip install -U ${PIP_INST_ARGS} ${PY_CONSTRAINTS_ARGS} -e $pkgpath
  fi
done

echo VIRTUALENV BUILD COMPLETE

if [ -z "$NO_SHELL" ]; then
  echo "This is where we can do yannt things."
  # If the user did not request NO_SHELL, start a shell.
  ${PROJ_PATH}/${BUILDER_PATH}/start-venv.sh "$@"
fi


