# Python 3.11 + TensorFlow

build<1.4.0
chex<=0.1.9
coremltools>=7.1,<9.1
matplotlib>=3.8,<3.10
numpy>=1.26,<2
onnx>=1.15,<1.18
onnxruntime>=1.17,<1.20
opencv_python>=4.9,<4.12
opencv-python-headless>=4.9,<4.12
optax<=0.2.4
protobuf>=3.20.3,<5
pydot<2
pyparsing<3
tensorflow>=2.16.1,<2.18
tensorflowjs>=4.17,<5
tensorflow_cpu>=2.16.1,<2.18
tensorflow_decision_forests>=1.9,<1.11
tensorstore>=0.1.60,<0.1.72
tf_keras>=2.16,<2.18
ultralytics<8.2.0
wurlitzer<3.2
