#!/usr/bin/env bash

{{YOU_CAN_EDIT_THIS_FILE}}

# Note: Assuming podman is always run from linux.

echo RUNNING $0

ENV_NAME=${ENV_NAME:-"{{env_name}}"}
PROJ_PATH=${PROJ_PATH:-"{{proj_path}}"}
CACHED_CONDA_PREFIX=${CONDA_PREFIX:="{{cached_conda_prefix}}"}

BUILDER_PATH=${BUILDER_PATH:-"{{builder_path}}"}
NEXT_RUN_TARGET=${NEXT_RUN_TARGET:-"{{next_run_target}}"}

# # ----- End Of Config -----

set -e

#echo "Automatically accepting TOS."
#conda tos accept

# # -------------- Dropping to shell ----------------
echo
echo "The environment is now ready. Try 'yannt --help' for information."

# Include yannt tab completion.
TMP_RC="$(mktemp)"
cat >> "$TMP_RC" <<'EOF'
[ -f "$HOME/.bashrc" ] && source $HOME/.bashrc
# Non-persistent `conda init`
eval "$(conda shell.bash hook)"
conda activate ${PROJ_PATH}/${CACHED_CONDA_PREFIX}/${ENV_NAME}
eval "$(register-python-argcomplete yannt)"
EOF

exec bash --rcfile "$TMP_RC" -i

